@font-face {
  font-family: 'Helvetica';
  src: url('../fonts/HelveticaNeue-Roman.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Galano';
  src: url('../fonts/GalanoGrotesqueDEMO-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
