@font-face {
    font-family:HelveticaNeueMedium; 
    src: url(../fonts/HelveticaNeue-Medium.ttf);
}
@font-face {
    font-family:GalanoGrotesqueBold; 
    src: url(../fonts/Galano-Grotesque-Bold.ttf);
}