
.main-title{
	@include media-breakpoint-down(xl) {
		font-size: 72px;
	}
	@include media-breakpoint-down(lg) {
		font-size: 48px;
	}
	@include media-breakpoint-down(md) {
		font-size: 42px;
	}
	@include media-breakpoint-down(sm) {
		font-size: 60px;
	}
}
@include media-breakpoint-down(xl) {
	
}

@include media-breakpoint-down(lg) {
	
}

@include media-breakpoint-down(md) {
	.hero-homepage{
		padding: 100px 10px 15px 10px;
		.container{
			padding: 0;
		}
		.main-title{
			padding: 0;
		}
	}
	.alisontravel-navbar {
		position: relative;
		background: #000;
		z-index: 999; 
	}

}
@include media-breakpoint-down(sm) {
	.hero-homepage {
		margin-bottom: 490px;

		padding: 100px 10px 1px 10px;
		.container {
			padding: 0;
		}
		.main-title {
			padding: 0;
			font-size: 26px;
			margin-bottom: 20px;
		}
	}

.counrty{
	.wrap-form{
		position: absolute;
		margin-top: 20px;
		margin-right: 10px;
	}
	.hero-page {
		&__nav {
			border: 0;
			display: flex;
			justify-content: space-between;
			
			&-item {
				height: 66px;
				color: rgba(0,0,0,0.3);
				background: #fff;
				border-radius: 5px;
				box-shadow: 0 0 10px rgba(0,0,0,0.2);
				font-size: 14px;
			}

			&-link {

				padding: 0rem 1rem;

				&:hover {
					border-bottom: 0;
				}
			}
			.active {
				border-bottom: 0 ;
				border-radius: 5px ;
				color: #fff;
				background-position: 50% 50%;
				background-repeat: no-repeat;
			}
			

			&-item_tours {
				background-image: url('../img/icons/Tours.svg');
				position: relative;
				z-index: 100;
			}
			&-item_tours.active {
				background-image: url('../img/icons/Tours_act.svg'), linear-gradient(to right, #a21d6e 0%, #e2245e 100%) !important;
			}


			&-item_hotels {
				background-image: url('../img/icons/Tours.svg');
			}
			&-item_hotels.active {
				background-image: url('../img/icons/Hotels.svg'), linear-gradient(to right, #a21d6e 0%, #e2245e 100%) !important;
			}


			&-item_flights {
				background-image: url('../img/icons/Tours.svg');
			}
			&-item_flights.active {
				background-image: url('../img/icons/Flights.svg'), linear-gradient(to right, #a21d6e 0%, #e2245e 100%) !important;
			}


			&-item_transfers {
				background-image: url('../img/icons/Tours.svg');
			}
			&-item_transfers.active {
				background-image: url('../img/icons/Transfers.svg'), linear-gradient(to right, #a21d6e 0%, #e2245e 100%) !important;
			}

			}

		}

	}

	.hero-page__nav {
		.tours {
			.active {
				
			}
		}
	}


.tab-item {
	margin-bottom: 15px;
	border-radius: 15px;
	&_size {
		border: solid 1px rgba(0, 0, 0, 0.1);
		border-radius: 15px ;

		&_grey {
			color: rgba(0,0,0, 0.3);
		}
	}
	
	&_size-search {
		border-radius: 15px ;
	}

	&_gradient {
		
	}

	.mb-0 {
		
	}

}
.travel-holidays__title{
	font-size: 24px;
	text-align: left;
	margin-bottom: 25px;
}
}